extends layout

block content
    .container
        h1 Login
        if(message != '')
            .alert.alert-danger !{message}
        form(action='/user/login' method='post')
            div.form-group
                label Email
                input(type='text' name='email').form-control
            div.form-group
                label Password
                input(type='password' name='password').form-control
            button(type='submit').btn.btn-primary.btn-flat Login
            a(href='/user/signup').btn.btn-info.btn-flat Sign-up
    
