extends layout

block content
    .container
        .page-header
            h1
                span.fa.fa-user  User's informations 
            a(href='/user/logout').btn.btn-default.btn-sm 
                .fa.fa-sign-out Logout
        .col-sm-12
            .well
                h3
                    .fa.fa-user-secret   Informations
                | <strong>id :</strong> !{user._id} <br>
                | <strong>email :</strong> !{user.local.email} <br>
                //| <strong>password :</strong> !{user.local.password} <br>
                <br>
            button.btn.btn-primary.btn-block.btn-lg#getToken Get a token
                
            .well.hiddendiv#token-well
                h3
                    .fa.fa-key  Token
                .col-sm-12
                    input(type='text').form-control#token
                    | <br><strong>Expiration :</strong> 
                    span#expiration-date
                    
block script
    script.
        $('#getToken').click(function(){
            var token = $.getJSON('/user/!{user._id}/token', function(tokenString){
                if(tokenString.hasOwnProperty('token') && tokenString.hasOwnProperty('expire')) {
                    var exp = new Date(tokenString.expire);
                    
                    $('#getToken').remove();
                    $("#token").val(tokenString.token);
                    $("#expiration-date").text(
                        exp.getDate() + "/" + (exp.getMonth() + 1) + "/" + exp.getFullYear() + " "+
                        exp.getHours() + ":" + exp.getMinutes()
                        );
                    $("#token-well").removeClass('hiddendiv');
                };
            })
        });
