extends layout

block content
    .well
        h1
            span.fa.fa-user-plus  Sign-up
        if(message != '')
            .alert.alert-danger !{message}
        form(action='/user/signup' method='post')
            div.form-group
                label Email
                input(type='text' name='email').form-control
            div.form-group
                label Password
                input(type='password' name='password').form-control
            button(type='submit').btn.btn-primary.btn-lg.btn-block Sign-up
